qmctoolscl/c_funcs.py
qmctoolscl/wrapped_funcs.py

ags*
qmctoolscl/__init__.py

*/raw.githubusercontent.com/*
raw.githubusercontent.com/*
*.csv
*.png

*.pyc
*.so 
*.DS_Store
#qmctoolscl/*.c
qmctoolscl.egg-info/*
build/*

*.pytest.txt

my_device_info.txt

dist/*